<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login and Footer Test Suite"
       parallel="methods"
       thread-count="5">

    <test name="UI Tests">
        <classes>
            <class name="tests.AsianEntertainmentSanityTest"/>
<!--            <class name="tests.FooterTest"/>-->
        </classes>
    </test>

</suite>
